html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background: #ffc600;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.photobooth {
  max-width: 150rem;
  margin: 0 auto;
  border-radius: 2px;
}
/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}
.photo {
  width: 100%;
  max-width: 500px;
  margin: auto;
  float: left;
}
.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}

/* STRIP */
.strip {
  padding: 2rem;
}
.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }

.take-photo-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: blue;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}